<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISS  tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>ISS tracker</h1>
    <p class="podnaslov">
      LIVE pozicija Internacionalne svermiske stanice (updata se svakih 5
      sekundi)
    </p>
    <div id="mapa"></div>
      
    <div class="stats">
      <div class="stat_box">
        <div class="label">longituda</div>
        <div class="loading" id="lat">--</div>
        <div class="unit">°</div>
      </div>
      <div class="stat_box">
        <div class="label">latituda</div>
        <div class="loading" id="lon">--</div>
        <div class="unit">°</div>
      </div>
      <div class="stat_box">
        <div class="label">altituda</div>
        <div class="loading" id="alt">--</div>
        <div class="unit">km</div>
      </div>
      <div class="stat_box">
        <div class="label">Brzina</div>
        <div class="loading" id="brz">--</div>
        <div class="unit">km/h</div>
      </div>
    </div>

    <div class="YouTube">
      <div class="stat_box_yt">Youtube video UŽIVO<br> <iframe width="840" height="630" src="https://www.youtube-nocookie.com/embed/uwXgcTc8oY8?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe></br></div>
    </div>
    <div class="footer">Kreirali: Alan bešić i Leni Jureša | podatci preuzeti iz <a href="https://api.wheretheiss.at/v1/satellites/25544">Where the ISS at</a></div>



    <script></script>
  </body>
</html>